.DS_store

# Maven build targets
target/

# Maven release files
*.releaseBackup
release.properties

# Eclipse specific
.project
.settings/
.prefs
.classpath

# IntelliJ IDEA specific
.idea/
*.iml

# VS Code
.factorypath
.vscode

# env files
.env*

# User-provided and generated compose configurations
/compose-runtime.env
/console-config.yaml
/compose.env

# Systemtests
systemtests/screenshots/
systemtests/config.yaml
systemtests/tracing/