@import "@patternfly/react-core/dist/styles/base.css";
@import "@patternfly/patternfly/patternfly-addons.css";
@import "@patternfly/quickstarts/dist/quickstarts.min.css";
@import "react-json-view-lite/dist/index.css";
@import "@patternfly/patternfly/patternfly-charts.css";
