.hero {
    display: grid;
    padding: var(--pf-v5-global--spacer--lg)
}


@media screen and (min-width: 768px) {
    .hero {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "graphic content";
        grid-grap: var(--pf-v5-global--spacer--2xl);
        padding: var(--pf-v5-global--spacer--2xl);
    }

    .hero::before {
        display: block;
        content: "";
        grid-area: graphic;
        background-image: url("/RH-App_Dev-Illustration-2023_01-posborne-RBG-01.png");
        background-repeat: no-repeat;
        background-position-y: 59px;
        background-size: 380px;
        margin: -98px 0 -48px -128px;
    }
}