alertmanager:
  enabled: false

kube-state-metrics:
  enabled: false

prometheus-node-exporter:
  enabled: false

prometheus-pushgateway:
  enabled: false

server:
  securityContext: null

scrapeConfigs:
    # YOUR KAFKA JOB - Add it first
    - job_name: 'kafka-resources'
      honor_labels: true
      metrics_path: /metrics
      kubernetes_sd_configs:
        - role: pod
      relabel_configs:
        # Keep only Kafka pods
        - source_labels: [ __meta_kubernetes_pod_label_strimzi_io_kind ]
          action: keep
          regex: Kafka

        # Map strimzi.io labels
        - action: labelmap
          regex: __meta_kubernetes_pod_label_(strimzi_io_.+)
          replacement: $1

        # Add namespace
        - source_labels: [ __meta_kubernetes_namespace ]
          target_label: namespace
          action: replace

        # Add pod name
        - source_labels: [ __meta_kubernetes_pod_name ]
          target_label: kubernetes_pod_name
          action: replace

        # Add node name
        - source_labels: [ __meta_kubernetes_pod_node_name ]
          target_label: node_name
          action: replace

        # Add node IP
        - source_labels: [ __meta_kubernetes_pod_host_ip ]
          target_label: node_ip
          action: replace

        # Keep only tcp-prometheus port
        - source_labels: [ __meta_kubernetes_pod_container_port_name ]
          action: keep
          regex: tcp-prometheus


    - job_name: kubernetes-cadvisor
      honor_labels: true
      scrape_interval: 10s
      scrape_timeout: 10s
      metrics_path: /metrics/cadvisor
      scheme: https
      kubernetes_sd_configs:
        - role: node
          namespaces:
            names: [ ]
      bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
      tls_config:
        ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        insecure_skip_verify: true
      relabel_configs:
        - separator: ;
          regex: __meta_kubernetes_node_label_(.+)
          replacement: $1
          action: labelmap
        - separator: ;
          regex: (.*)
          target_label: __address__
          replacement: kubernetes.default.svc:443
          action: replace
        - source_labels: [ __meta_kubernetes_node_name ]
          separator: ;
          regex: (.+)
          target_label: __metrics_path__
          replacement: /api/v1/nodes/${1}/proxy/metrics/cadvisor
          action: replace
        - source_labels: [ __meta_kubernetes_node_name ]
          separator: ;
          regex: (.*)
          target_label: node_name
          replacement: $1
          action: replace
        - source_labels: [ __meta_kubernetes_node_address_InternalIP ]
          separator: ;
          regex: (.*)
          target_label: node_ip
          replacement: $1
          action: replace
      metric_relabel_configs:
        - source_labels: [ container, __name__ ]
          separator: ;
          regex: POD;container_(network).*
          target_label: container
          replacement: $1
          action: replace
        - source_labels: [ container ]
          separator: ;
          regex: POD
          replacement: $1
          action: drop
        - source_labels: [ container ]
          separator: ;
          regex: ^$
          replacement: $1
          action: drop
        - source_labels: [ __name__ ]
          separator: ;
          regex: container_(network_tcp_usage_total|tasks_state|memory_failures_total|network_udp_usage_total)
          replacement: $1
          action: drop

    - job_name: kubernetes-nodes-kubelet
      scrape_interval: 10s
      scrape_timeout: 10s
      scheme: https
      kubernetes_sd_configs:
        - role: node
          namespaces:
            names: [ ]
      bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
      tls_config:
        ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        insecure_skip_verify: true
      relabel_configs:
        - action: labelmap
          regex: __meta_kubernetes_node_label_(.+)
        - target_label: __address__
          replacement: kubernetes.default.svc:443
        - source_labels: [ __meta_kubernetes_node_name ]
          regex: (.+)
          target_label: __metrics_path__
          replacement: /api/v1/nodes/${1}/proxy/metrics