---
# -------------------------------------------
# Common
# -------------------------------------------
# Cleanup environment after test. In case of debugging, this env lets you skip afterEach and afterAll.
CLEANUP_ENVIRONMENT: true
# Log level used in file output
TEST_FILE_LOG_LEVEL: DEBUG
# Log level used in console output
TEST_CONSOLE_LOG_LEVEL: INFO
# Path for log output
TEST_LOG_DIR: target/logs
# Run Playwright tests in headless mode without browser popping up
RUN_HEADLESS: true
# Directory to store screenshots from tests. Relative to systemtests dir ["screenshots"]
SCREENSHOTS_DIR_PATH: screenshots
# Skip Strimzi installation if it's installed externally. Otherwise, system tests will install strimzi
SKIP_STRIMZI_INSTALLATION: false
# Deployment name of the Strimzi Operator. Need to set this when Strimzi is installed externally
STRIMZI_OPERATOR_NAME: strimzi-cluster-operator
# Deployment name of the Console instance
CONSOLE_DEPLOYMENT_NAME: streamshub-console
# Install type for Console Operator [OLM; YAML]
CONSOLE_INSTALL_TYPE: olm
# Kubernetes client type used to execute cmd [oc, kubectl]
CLIENT_TYPE: kubectl
# Cluster domain required for k8s clusters except OpenShift.
CONSOLE_CLUSTER_DOMAIN: "192.168.49.2.nip.io"
# -------------------------------------------
# OLM
# -------------------------------------------
# Name of the CatalogSource for Console Operator
CONSOLE_OLM_CATALOG_SOURCE_NAME: console-source
# Namespace where lies the CatalogSource for Console Operator
CONSOLE_OLM_CATALOG_SOURCE_NAMESPACE: openshift-marketplace
# Package name of the console operator
CONSOLE_OLM_PACKAGE_NAME: streamshub-console-operator
# OLM channel for selecting the Operator version
CONSOLE_OLM_CHANNEL_NAME: alpha
# -------------------------------------------
# YAML
# -------------------------------------------
# Which released version of Strimzi Cluster Operator to install
STRIMZI_OPERATOR_VERSION: 0.49.0
# URL or local path for Console Operator installation
# 1. URL - released console-operator.yaml
# 2. Local path that is relative to the root project dir
# 3. Local path that is absolute
CONSOLE_OPERATOR_BUNDLE_URL: https://github.com/streamshub/console/releases/download/0.8.4/streamshub-console-operator.yaml
# Custom Console Operator image. Overrides default image used in bundle yaml
CONSOLE_OPERATOR_IMAGE:
# -------------------------------------------
# Console instance images
# -------------------------------------------
# Custom Console API image. Overrides default image installed automatically by Operator
CONSOLE_API_IMAGE:
# Custom Console UI image. Overrides default image installed automatically by Operator
CONSOLE_UI_IMAGE:
# -------------------------------------------
# Kafka
# -------------------------------------------
# Kafka version used in system tests
ST_KAFKA_VERSION: 4.1.0
# Image for test client containers in system tests
TEST_CLIENTS_IMAGE: quay.io/strimzi-test-clients/test-clients:0.12.0-kafka-4.1.0
