name: Pre-Systemtest
permissions:
  contents: read
  pull-requests: write

on:
  issue_comment:
    types: [created]

jobs:
  process-comment:
    if: ${{ github.event.issue.pull_request && startsWith(github.event.comment.body, '/systemtests run') }}
    runs-on: ubuntu-latest
    env:
      ORG: ${{ github.repository_owner }}
      TEAM: console-developers
      PR_NUMBER: ${{ github.event.issue.number }}
      REPO: ${{ github.repository }}
      RUN_ID: ${{ github.run_id }}
      MESSAGE_BODY: ${{ github.event.comment.body }}
      GH_TOKEN: ${{ secrets.BOT_ORG_SCOPED_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Verify Team Member
        run: ./.github/actions/systemtests/verify-team-member.sh $ORG $TEAM "${{ github.event.comment.user.login }}"

      - name: Comment Help
        if: ${{ contains(github.event.comment.body, '--help') }}
        run: ./.github/actions/systemtests/pr-help.sh

      - name: Check if Build workflow succeeded
        run: ./.github/actions/systemtests/verify-workflow-run-succeeded.sh

      - name: Parse parameters from comment
        id: parse_env
        run: ./.github/actions/systemtests/parse-pr-comment-params.sh

      - name: Comment start of the build
        run: ./.github/actions/systemtests/update-pr-systemtests-started.sh

      - name: Invoke workflow in another repo with inputs
        uses: benc-uk/workflow-dispatch@e2e5e9a103e331dad343f381a29e654aea3cf8fc
        with:
          token: ${{ secrets.BOT_ORG_SCOPED_TOKEN }}
          workflow: systemtests.yml
          inputs: >
            {
              "commit_sha": "${{ env.COMMIT_SHA }}",
              "testcase": "${{ env.TESTCASE }}",
              "profile": "${{ env.PROFILE }}",
              "install_type": "${{ env.INSTALL_TYPE }}",
              "retry_count": "${{ env.RETRY_COUNT }}",
              "envs": "${{ env.ENVS }}"
            }