name: Release

on:
  pull_request:
    types: [closed]
    paths:
      - '.github/project.yml'

jobs:
  release:
    runs-on: ubuntu-latest
    name: release
    if: ${{github.event.pull_request.merged == true}}
    env:
      GITHUB_TOKEN: ${{secrets.RELEASE_TOKEN}}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{secrets.RELEASE_TOKEN}}

      - name: Retrieve Project Metadata
        uses: radcortez/project-metadata-action@95ed3b828c4563fb1c1c9f4c319eceb9ce7de1b3
        id: metadata
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          metadata-file-path: '.github/project.yml'

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Build and Push API Image
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b release
          mvn -B release:prepare -DreleaseVersion=${{steps.metadata.outputs.current-version}} -DdevelopmentVersion=${{steps.metadata.outputs.next-version}} -f api/pom.xml
          git checkout ${{github.base_ref}}
          git rebase release
          export QUARKUS_CONTAINER_IMAGE_REGISTRY="${{ secrets.IMAGE_REPO_HOSTNAME }}"
          export QUARKUS_CONTAINER_IMAGE_GROUP="${{ secrets.IMAGE_REPO_NAMESPACE }}"
          export QUARKUS_CONTAINER_IMAGE_USERNAME="${{ secrets.IMAGE_REPO_USERNAME }}"
          export QUARKUS_CONTAINER_IMAGE_PASSWORD="${{ secrets.IMAGE_REPO_PASSWORD }}"
          export QUARKUS_CONTAINER_IMAGE_PUSH="true"
          export GIT_REVISION=$(git rev-parse --short release)
          # Build and push the release images using the commit tagged in `release:prepare`
          mvn -B -P docker release:perform -f api/pom.xml

      - name: Login to Quay
        uses: docker/login-action@v3
        with:
          registry: "${{ secrets.IMAGE_REPO_HOSTNAME }}"
          username: "${{ secrets.IMAGE_REPO_USERNAME }}"
          password: "${{ secrets.IMAGE_REPO_PASSWORD }}"
      
      - name: Build and Push UI Image
        uses: docker/build-push-action@v5
        with:
          context: ui/
          push: true
          tags: |
            ${{ secrets.IMAGE_REPO_HOSTNAME }}/${{ secrets.IMAGE_REPO_NAMESPACE }}/ui:${{steps.metadata.outputs.current-version}}

      - name: Push Release Tag
        run: |
          git push
          git push --tags

      - name: Create GitHub Release
        uses: radcortez/milestone-release-action@98bd3321583e9bdbbe15c08fa4b2249371efaeaa
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          milestone-title: ${{steps.metadata.outputs.current-version}}
          milestone-next: ${{steps.metadata.outputs.next-version}}

      - name: Image Update
        uses: renovatebot/github-action@v39.2.3
        with:
          configurationFile: .github/gitops-config.json
          token: ${{ secrets.RELEASE_TOKEN }}     
