name: Build and Deploy Storybook to Chromatic

on:
  push:
    branches:
      - main
    paths:
      - 'ui/**'
      - '!ui/package.json'
      - '!ui/package-lock.json'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build Storybook
        working-directory: ./ui
        run: |
          npm ci
          npx playwright install
          npm run build-storybook

      - name: Publish to Chromatic
        id: chromatic
        uses: chromaui/action@v13
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          storybookBuildDir: "storybook-static"
          workingDir: "./ui"
          exitOnceUploaded: true

      - name: Test Storybook
        working-directory: ./ui
        run: |
          npm run test-storybook -- --no-index-json --url ${{ steps.chromatic.outputs.storybookUrl }}
