---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: streamshub-consolereconciler-cluster-role
rules:
  - apiGroups:
      - console.streamshub.github.com
    resources:
      - consoles
      - consoles/status
      - consoles/finalizers
    verbs:
      - get
      - list
      - watch
      - patch
      - update
      - create
      - delete
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterrolebindings
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterroles
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: streamshub-console-crd-validating-cluster-role
rules:
  # Used by operator framework to validate CRDs
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: streamshub-consolereconciler-additional-cluster-role
rules:
  - apiGroups:
      - coordination.k8s.io
    resources:
      # The cluster operator needs to access and manage leases for leader election
      # The "create" verb cannot be used with "resourceNames"
      - leases
    verbs:
      - create

  - apiGroups:
      - coordination.k8s.io
    resources:
      # The cluster operator needs to access and manage leases for leader election
      - leases
    resourceNames:
      - streamshub-console-operator-lease
    verbs:
      - get
      - list
      - watch
      - delete
      - patch
      - update
      # temporary until available: https://github.com/operator-framework/java-operator-sdk/pull/2456
      - create

  # Used by operator to discover the OpenShift Monitoring query endpoint
  - apiGroups:
      - route.openshift.io
    resources:
      - routes
    resourceNames:
      - thanos-querier
    verbs:
      - get

  # Granted to Prometheus instances (when using embedded instance)
  - apiGroups: [ '' ]
    resources:
      - nodes
      - nodes/proxy
      - services
      - endpoints
      - pods
    verbs: [ get, list, watch ]
  - apiGroups:
      - extensions
    resources:
      - ingresses
    verbs: [ get, list, watch ]
  - nonResourceURLs: [ /metrics ]
    verbs: [ get ]

  # Used directly by operator and granted to Console instances
  - verbs:
      - get
      - watch
      - list
    apiGroups:
      - kafka.strimzi.io
    resources:
      - kafkas
      - kafkanodepools
      - kafkarebalances
      - kafkatopics
      - kafkausers
      - kafkaconnects
      - kafkamirrormaker2s

  # Granted to Console instances
  - verbs:
      - patch
    apiGroups:
      - kafka.strimzi.io
    resources:
      - kafkas
      - kafkarebalances

  # Granted to console API for listing pods to obtain the Kafka version annotation set by Strimzi
  - verbs:
      - get
      - list
    apiGroups:
      - ""
    resources:
      - pods

  # Granted to Console instances when using OpenShift Monitoring. These rules
  # match the rules declared by ClusterRule `cluster-monitoring-view`, which is the role
  # actually bound to the console instance's service account in the ClusterRoleBinding
  # `console-server-monitoring`.
  - verbs:
      - get
    apiGroups:
      - ''
    resources:
      - namespaces
  - verbs:
      - get
      - create
      - update
    apiGroups:
      - monitoring.coreos.com
    resources:
      - prometheuses/api
    resourceNames:
      - k8s

  # Granted to Console instances to read the ClusterVersion and fetch the OpenShift version 
  # for display.
  - verbs:
      - get
    apiGroups:
      - config.openshift.io
    resources:
      - clusterversions
    resourceNames:
      - version

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: streamshub-consolereconciler-cluster-role-binding
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: streamshub-consolereconciler-cluster-role
subjects:
  - kind: ServiceAccount
    name: streamshub-console-operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: streamshub-consolereconciler-crd-validating-role-binding
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: streamshub-console-crd-validating-cluster-role
subjects:
  - kind: ServiceAccount
    name: streamshub-console-operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: streamshub-consolereconciler-additional-cluster-role-binding
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: streamshub-consolereconciler-additional-cluster-role
subjects:
  - kind: ServiceAccount
    name: streamshub-console-operator
---
# Required in order to grant to console instances with OpenShift Cluster Monitoring integration
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: streamshub-consolereconciler-cluster-monitoring-view
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-monitoring-view
subjects:
  - kind: ServiceAccount
    name: streamshub-console-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: streamshub-console-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: streamshub-console-operator
  template:
    metadata:
      labels:
        app.kubernetes.io/name: streamshub-console-operator
    spec:
      containers:
        - name: streamshub-console-operator
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            seccompProfile:
              type: RuntimeDefault
            runAsNonRoot: true
            capabilities:
              drop:
              - ALL
